{% load nodetag %}

<ul class="pagination">
	{% if object_list.has_previous %}
		<li><a href="{{ urlpage }}/?xpage={{ object_list.paginator.page_range|first }}&{{ req }}"><i class="icon-double-angle-left"></i>Первая</a></li>
	{% endif %}

	{% if object_list.has_previous %}
		<li><a href="{{ urlpage }}/?xpage={{ object_list.previous_page_number }}&{{ req }}"><i class="icon-angle-left"></i>Предыдущая</a></li>
	{% endif %}
	
	{% for p in object_list.paginator.page_range|mypaginatorslice:object_list.number %}
		{% if p == object_list.number %}
			<li class="active"><a href="" onclick="return false;">{{ object_list.number }}</a></li>
			{% else %}
				<li><a href="{{ urlpage }}/?xpage={{ p }}&{{ req }}">{{ p }}</a></li>
			{% endif %}
	{% endfor %}
		
	{% if object_list.has_next %}
		<li><a href="{{ urlpage }}/?xpage={{ object_list.next_page_number }}&{{ req }}">Следующая<i class="icon-angle-right"></i></a></li>
	{% endif %}

	{% if object_list.has_next %}
		<li><a href="{{ urlpage }}/?xpage={{ object_list.paginator.page_range|last }}&{{ req }}">Последняя<i class="icon-double-angle-right"></i></a></li>
	{% endif %}
</ul>