
	<!-- widget grid -->
	<section id="widget-grid" class="">
		<!-- <div class="well">Форма</div> -->
		<!-- row -->
		<div class="row">
	
			<!-- NEW WIDGET START -->
			<article class="col-sm-12 col-md-12 col-lg-12">					

			<!-- Widget ID (each widget will need unique ID)-->
				<div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">
					<!-- widget options:
					usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
	
					data-widget-colorbutton="false"
					data-widget-editbutton="false"
					data-widget-togglebutton="false"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false"
					data-widget-custombutton="false"
					data-widget-collapsed="true"
					data-widget-sortable="false"
	
					-->
					<header>
						<h2>Форма</h2>
					</header>
	
					<!-- widget div-->
					<div>
	
						<!-- widget edit box -->
						<div class="jarviswidget-editbox">
							<!-- This area used as dropdown edit box -->
	
						</div>
						<!-- end widget edit box -->
	
						<!-- widget content -->
						<div class="widget-body">
						
						<p>Поля отмеченные <sup class="required">*</sup> обязательные для заполнения</p>
	
							<form action="" method="post" enctype="multipart/form-data" role="form">
								{% csrf_token %}

								
								{% for hidden in form.hidden_fields %}
									{{ hidden }}
								{% endfor %}
								
								
								<div>
									<div class="pull-left"></div>
									<div class="pull-right">
										<button type="submit" class="btn btn-success">Готово</button>
										<script>
										function mysaveonclose()
										{
											//$('input[name="saveonclose"]').prop('checked', true);
											$('input[name="saveonclose"]').val('true');
											$("form").submit();
											return false;
										}
										</script>
										<button type="submit" class="btn btn-success" onclick="mysaveonclose(); return false;">Сохранить и закрыть</button>
									
									</div>
								</div>
								
								
								<fieldset>
								{% for i in form.visible_fields %}
									<div class="form-group">
										{% if i.field.required %}<sup class="required">*</sup>{% endif %}
										<label>{{ i.label }}</label>
										{{ i }}
										{% if i.errors %}
										<p class="text-danger">{{ i.errors|striptags }}</p>
										{% endif %}
										<p class="help-block">{{ i.field.help_text  }}</p>
									</div>
								{% endfor %}
								
								<button type="submit" class="btn btn-primary" onclick="jdisabled(this)(); return false;">Готово</button>
								
								</fieldset>
								
							</form>
						</div>
						<!-- end widget content -->
	
					</div>
					<!-- end widget div -->
	
				</div>
				<!-- end widget -->
			</article>
		</div>
	</section>